IMG_NAME=wp360
PI_GEN_RELEASE="Full"
PI_GEN_REPO="https://github.com/Overdigit/pi-gen-wp360"
DEPLOY_COMPRESSION=xz
ENABLE_SSH=1
TARGET_HOSTNAME=WP360
FIRST_USER_NAME=user
FIRST_USER_PASS=123
DISABLE_FIRST_BOOT_USER_RENAME=1
STAGE_LIST="stage0 stage1 stage2 stage3-wp360 stage4-codesys stage5-webvisu stage6-dev"
ENABLE_CLOUD_INIT=0
IMG_DATE="${IMG_DATE:-"$(date +%Y-%m-%d)"}"
IMG_FILENAME="${IMG_FILENAME:-"${IMG_DATE}-${IMG_NAME}"}"
ARCHIVE_FILENAME="${ARCHIVE_FILENAME:-"${IMG_DATE}-${IMG_NAME}"}"

