[Unit]
Description=Controlled shutdown using UPS
After=multi-user.target

[Service]
ExecStart=/usr/sbin/wp360-ups-ctrl

[Install]
WantedBy=multi-user.target
