Package: wp360-ups-ctrl
Version: 1.0.0
Architecture: all
Maintainer: Nicola Orlando <nicolaorlando24@gmail.com>
Depends: bash
Installed-Size: 1
Description: Package containing a script and a service to turn off the system when signaled on pin 22.
